<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style/footer.css">
</head>
<footer>
    <h1>PEDIDOS</h1>
</footer>
<body>
    
    <h1>Registro de nuevos usuarios</h1>
    <form action="/validar" method="post">
        IDProducto: <%= product===null ? '' : product.IdProducto %> <input type="hidden" name="idp" id="idp" value ="<%= product===null ? '' : product.IdProducto %>" ><br><br>

        NombreProducto: <input type="text" name="np" id="np" value="<%= product===null ? '' : product.NombreProducto %>"><br><br>

        Precio: <input type="int" name = "precio" id="precio" value="<%= product===null ? '' : product.precio %>" ><br><br>

        Descripcion: <input type="text" name="descripcion" id="descripcion" value="<%= product===null ? '' : product.Descripcion %>"><br><br>

        <input type="submit" value="<%= nuevo ? 'registrar' : 'actualizar' %>">
    </form>
</body>
</html>